div{
	background: red;
	border-radius: 50%;
	height: 100px;
	position: relative;
	width: 100px;
	-webkit-animation: app 5s infinite alternate;
	animation: app 5s infinite alternate;
}

@-webkit-keyframes app{
	0%{background: red; left: 0px; top:0px;}
	25%{background: green; left: 300px; top:0px;}
	50%{background: blue; left: 300px; top:300px; }
	75%{background: yellow; left: 0px; top:300px;}
	100%{background: purple; left: 0px; top:0px;}
}

@keyframes app{
	0%{background: red; left: 0px; top:0px;}
	25%{background: green; left: 300px; top:0px;}
	50%{background: blue; left: 300px; top:300px; }
	75%{background: yellow; left: 0px; top:300px;}
	100%{background: purple; left: 0px; top:0px;}
}

